.banner{
    background-image: url('https://us.123rf.com/450wm/somegirl/somegirl2201/somegirl220100149/180512770-assorted-indian-ethnic-food-buffet-on-rustic-concrete-table-from-above.jpg?ver=6');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.banner2{
    background-color: rgba(0, 0, 0, 0.765);
}